<div class='d-flex flex-column w-100 card p-3 mb-3'>
<div class='m-2'>
  <p class="d"><%= classwork.body %></p>
  <% if classwork.work_type == 'assignment' %>
    <p class="d">Due Date: <%=classwork&.expiry.to_s %></p>
    <% if classwork.expiry > (Time.zone.now + 5.hours)%>
      <%= form_with model: [classwork, classwork.submissions.build ] do |form| %>
        <p>
          <%= form.file_field :solution, class:"file" %>
        </p>
        <input type="hidden" name="submission[classwork_id]" value="<%= classwork.id %>"/>
        <input type="hidden" name="submission[classroom_id]" value="<%= @classroom.id %>"/>
        <%= form.submit "Submit" %>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
