<div class='d-flex flex-column w-100'>
  <p class="d"><%= classwork.body %></p>
  <% if classwork.work_type == 'assignment' %>

  <%= form_with model: [classwork, classwork.submissions.build ] do |form| %>
    <p>
      <%= form.file_field :solution, class:"file" %>
    </p>
    <input type="hidden" name="submission[classwork_id]" value="<%= classwork.id %>"/>
    <input type="hidden" name="submission[classroom_id]" value="<%= @classroom.id %>"/>
    <%= form.submit "Submit" %>  
    <% end %>
  <% end %>
  <hr/>
</div>
