<p id="notice"><%= notice %></p>

<h1>Classworks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classworks.each do |classwork| %>
      <div class='d-flex flex-column w-100'>
        <% if classwork.work_type == 'assignment' %>
          <p class="d"><%= classwork.body %></p>
          <a class='nav-link' role='button' href='/assignment/<%=classwork.id%>/submissions'>View Submissions</a>
        <% else %>
          <p class="d"><%= classwork.body %></p>
        <% end %>
        <hr/>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classwork', new_classwork_path %>
