<%= javascript_pack_tag 'suggestions'%>

<div class='d-flex flex-column card w-100 p-3 mb-3'>
  <p class="d"><%= announcement.body %> by <%= announcement.user.name%></p>

  <div class='float-right'>
    <a class="reply-btn" href ="#">Reply</a>

    <div class="child-announcements">
      <%= render partial: 'announcements/child', locals: {classroom: announcement.classroom, parent: announcement} %>
    </div>

    <% if current_user.id == announcement.user_id%>
      <%= link_to 'Edit', edit_classroom_announcement_path(@classroom, announcement)%>
    <%end%>

    <a href='#' class='view-btn'>Replies</a>
    <div class="child">
      <%= render announcement.announcements%>
    </div>
    </div>
    </div>
<hr />

<script>

  document.querySelectorAll('.view-btn').forEach((el)=>{
    el.addEventListener('click', (ev) =>{
        ev.preventDefault();
        el.nextElementSibling.style ='display: block;'
    })
})

</script>