<%= form_with(model: classroom, local: true) do |form| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex flex-row justify-content-center">
    <div class="mt-5 card shadow-lg mb-5 bg-white rounded">
      <div class="card-header new_classroom text-white" style='background-image: url("https://gstatic.com/classroom/themes/Honors.jpg");'>
         <h4>Create Classroom</h4>
      </div>
      <div class='card-body new_classroom'>
        <div>
          <span class="label_text"> <%= form.label :title %> </span> <br />
          <%= form.text_field :title, required: true, :size=>"46", placeholder: "Enter Title" %>
        </div>
        <div class="field mt-4">
          <span class="label_text"> <%= form.label :description %> </span> <br />
          <%= form.text_area :description, required: true, :size=>"50", placeholder: "Enter Description"%>
        </div>

        <div class="image-preview">
          <div class="field mt-4">
            <span class="label_text"> <%= form.label "Profile Picture" %> </span> <br />
            <%= form.file_field :avatar, class:"file" %>
          </div>
          <div class="upload-preview">
            <img />
          </div>
        </div>
      </div>
      <div class='card-footer'>
        <div class="actions new_classroom">
          <%= form.submit :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>

  </div>

<% end %>


<style type="text/css">

  .card:hover {
    box-shadow: 2px 2px 2px black;
    transform:scale(1);
  }

  .card {
    min-height: 450px;
    transition:.3s;
    margin: 3rem;
  }

</style>