<%= javascript_pack_tag 'suggestions'%>

<p><%= comment.body %> by <%= comment.user.name%></p>


<a class="reply-btn" href="#">reply</a>
<div class="child-comments">
  <%= render partial: 'comments/child', locals: {post: comment.post, parent: comment} %>
</div>

<% if current_user.id == comment.user_id%>
  <%= link_to 'Edit', edit_post_comment_path(@post, comment)%>
<%end%>

<br><br>

<div class="d-flex flex-row">
  <p class="d-flex flex-row justify-content-center"><span class='ml-2'><%= render partial: 'likes/like', locals: {likeable: @post}%></span> <span class='ml-2'> <%= render partial: 'reports/report', locals: {reportable: @post} %></span></p>
</div>

<hr/>
<div class="child">
  <%= render comment.comments%>
</div>
