<p id="notice"><%= notice %></p>

<h1>Userclasses</h1>

<table>
  <thead>
    <tr>
      <th>Class code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userclasses.each do |userclass| %>
      <tr>
        <td><%= userclass.class_code %></td>
        <td><%= link_to 'Show', userclass %></td>
        <td><%= link_to 'Edit', edit_userclass_path(userclass) %></td>
        <td><%= link_to 'Destroy', userclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userclass', new_userclass_path %>
