<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">


        <h2>Log in</h2>
        <br>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form class="form-signin">




          <div class="form-outline mb-8">
            <%= f.email_field :email,required: true, autofocus: true, autocomplete: "email", class: "form-control", id: "inputEmail"%>
            <label class="form-label" for="form3Example3">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-8">
            <%= f.password_field :password,required: true, autocomplete: "current-password", class: "form-control", id: "inputPassword"%>
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class=" d-flex justify-content-left">
            <!-- Checkbox -->
            <% if devise_mapping.rememberable? %>
            <div class=" justify-content-left">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
             <% end %>
          </div>


          <div class="text-center text-lg-start mt-8 pt-2">
            <%= f.submit "Log in", :class => "btn btn-primary padding-left: 2.5em; padding-right: 2.5rem;" %>
            <p class="small fw-bold mt-8 pt-1 mb-0"><%= render "devise/shared/links" %>
          </div>
        </form>
        <% end %>
      </div>
    </div>
  </div>

</section>