<%= form_with(model: post, local: true, validate: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br><br>
    <h5 class="mt-6"><%= form.label :title %><span>  </span><%= form.text_field :title, required: true %></h5>
  </div>
  <div class="field">
    <br>
    <h5 class="mt-6"><%= form.label :body %><span>  </span><%= form.rich_text_area :body, validate: { presence: true }, :class => "" %></h5>
  </div>

  <div>
    <%= form.submit "Submit", :class => "btn btn-sm btn-outline-primary padding-left: 2.5em; padding-right: 2.5rem;" %>
  </div>
<% end %>