

<%if current_user.role == 'moderator' || current_user.role == 'teacher'%>

<ul class="nav justify-content-center mb-3">
  <li class="nav-item">
    <span class="nav-link active" role="button">
    <% if @post.status == 'inactive'%>
      <a href="/status/<%=@post.id%>">Publish</a>
      <% else %>
    <a href="/status/<%=@post.id%>">Unpublish</a> 
    <%end%>
    </span>
  </li>
  <li class="nav-item">
    <span class="nav-link blog" role="button">Blog</span>
  </li>
  <li class="nav-item">
    <span class="nav-link suggestion" role="button">Suggestions</span>
  </li>


</ul>


 

<% end %>




<div class=" news-main-div row justify-content-center">

  <div class="card blogs">

    <div class="news-main-div row justify-content-center padding ">
      <div class="">
        <div class="m-3 news-child-div shadow p-3 mb-5 bg-white rounded">
          <div>
            <p class="ml-2"></p>
            <h2 class="mt-6 w-100 row justify-content-center"><%= @post.title%></h2>
            <small class="mt-0 text-muted row justify-content-center"><%= @post.status%></small>
            <hr class="m-5"/>
            <h8 class="row justify-content-center m-2"><%= @post.body%></h8>
            <hr class="m-5"/>
            <div class="d-flex flex-row justify-content-center">
              <p class="d-flex flex-row justify-content-center"> <%= render partial: 'likes/like', locals: {likeable: @post}%> <%= render partial: 'reports/report', locals: {reportable: @post} %></p>
          </div>
        </div>
      </div>
     </div>
    </div>



    <h5 class="m-2">Comments</h5>
    <div class="card mt-2">
      <div class="m-2"><%= render @post.comments.replies %></div>
    </div>
    <br>

    <div class='d-flex justify-content-center'>
      <%= render partial: 'comments/form', locals: {post: @post, parent: nil}%>
    </div>

  </div>


  <div class="card w-75 suggestions">
    <h5 class="m-2">Suggestions</h5>
    <div class="card mt-2">
    <div class="m-2"><%= render @post.suggestions.post_suggestions, :class => "card"%></div>
    </div>
    <div class="m-2"><%= render partial: 'suggestions/child', locals: {post: @post, parent: nil}%></div>
  </div>
</div>

<script>
$('.blog').on('click',function(e){
  e.preventDefault()
  $('.suggestions').hide();
  $('.blogs').show();

});

$('.suggestion').on('click',function(e){
  e.preventDefault()
  $('.blogs').hide();
  $('.suggestions').show();
});

</script>