<%= javascript_pack_tag 'suggestions'%>
<p><%= suggestion.body %>: SUGGESTED BY -> <%= suggestion.user.name%></p>

<div class="d-flex col">
<a class="m-2 reply-btn" href="#">reply</a>
<div class="child-suggestions">
    <%= render partial: 'suggestions/child', locals: {post: suggestion.post, parent: suggestion} %>
</div>
<% if current_user.id == suggestion.user_id || @post.user_id == current_user.id%>
  <%= link_to 'Edit', edit_post_suggestion_path(@post, suggestion), class: 'm-2'%>
<%end%>
<% if @post.user_id == current_user.id%>
  <%= link_to "Reject", post_suggestion_path(@post, suggestion), class: 'm-2', method: :delete, data: { confirm: 'Are you sure?' }%>
<%end%>
</div>
<hr/>
<div class="child">
<%= render suggestion.suggestions%>
</div>