
<ul class='nav justify-content-center'>
    <li class='nav-item'>
        <span class='nav-link reported' role='button'>Reported Posts</span>
    </li>
    <li class='nav-item'>
        <span class='nav-link inactive' role='button'>Inactive Posts</span>
    </li>
</ul>

<div class='news-main-div d-flex flex-row justify-content-center reported_hide'>
    <% @reported.each do |report| %>
        <div class="card rounded-top col-sm-4 text-center m-3 reported_hide"> 
           <div class='card-header text-white' style='background-image: url("https://gstatic.com/classroom/themes/Honors.jpg");'>
               <%=Post.find(report.id).title%>
           </div>
            <div class="card-body">
                <strong>Total Report: <%=report.reports.count%></strong>
            </div>
            <div class='card-footer'>
                <p><a class='btn btn-sm btn-outline-primary' href="/posts/<%=report.id%>">View post</a></p>
            </div>
        </div>
    <% end %>
</div>

<div class='news-main-div d-flex flex-row justify-content-center'>
    <% @posts.each do |post| %>
        <% if post.status == 'inactive'%>
        <div class="card rounded-top col-sm-4 text-center inactive_hide"> 
            <div class="card-header text-white" style='background-image: url("https://gstatic.com/classroom/themes/Honors.jpg");'>
                <%= post.title %>
            </div>
            <div class="card-body">
                <strong>Post Status: <%=post.status%></strong>
            </div>
            <div class='card-footer'>
                <p><a class='btn btn-sm btn-outline-primary' href="/posts/<%=post.id%>">View post</a></p>
            </div>
        </div>
        <%end%>
    <%end%>
</div>


<script>

  $('.reported').on('click',function(e){
    e.preventDefault()
    $('.inactive_hide').hide();
    $('.reported_hide').show();

  });

  $('.inactive').on('click',function(e){
    e.preventDefault()
    $('.reported_hide').hide();
    $('.inactive_hide').show();
  });


</script>



<style type="text/css">

  .card:hover {
    box-shadow: 1px 1px 1px black;
    transform:scale(1);
  }

  .card {
    min-height: 250px;
    transition:.3s;
    margin: 3rem;
  }

  .inactive_hide {
      display: none;
  }

</style>