<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Classroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render "shared/navbar"%>
    <%end%>

    
    <div class="bg position-relative">
    <div class='container p-5'>
      <%= yield %>
      </div>
      <% if notice || alert %>
        <div class="alert alert-info position-absolute fixed-bottom check" style="height: 60px;">
          <p class="notic"><%= notice %></p>
          <p class="aler"><%= alert %></p>
        </div>
      <%end%>
    </div>
    
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body> 
</html>
<style type="text/css">
    .bg  {
        min-height: 100vh;
        background-color: #d1dfed;
    }
    .check {
      margin-bottom: 55px
    }
</style>